const path = require("path");

module.exports = {
  // sassOptions: {
  //   includePaths: [path.join(__dirname, "styles")],
  // },
  images: {
    domains: ["cdn.discordapp.com", "arunava.tech", "hi.arunava.tech"],
  },
  env: {
    customKey: 'https://discord.com/api/webhooks/your_webhook_id/your_webhook_token',
  },
};
