@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap'); */

/* * {
    font-family: Ubuntu;
} */

body { font-family: "Raleway", sans-serif; }


* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-zinc-900;
  }
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}