@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap'); */

/* * {
    font-family: Ubuntu;
} */

body {
  font-family: "Raleway", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-zinc-900;
  }
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}


/* Put banner here, if you dont like the solid color */
/* .bg-banner {
  background-size: cover;
  background-position: center;
  background-image: url(https://pbs.twimg.com/profile_banners/1530479622311546880/1672253889/1500x500);
} */
