@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap'); */

/* * {
    font-family: Ubuntu;
} */

body {
  font-family: "Raleway", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-zinc-900;
  }
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}


/* Put banner here, if you dont like the solid color */

/* .bg-banner {
  background-size: cover;
  background-position: center;
  background-image: url(https://data.whicdn.com/images/197122776/original.gif);
} */

#snackbar {
  visibility: hidden;
  /* min-width: 250px; */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: -30px; opacity: 0;} 
  to {top: 20px; opacity: 1;}
}

@keyframes fadein {
  from {top: -30px; opacity: 0;}
  to {top: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 20px; opacity: 1;} 
  to {top: -30px; opacity: 0;}
}

@keyframes fadeout {
  from {top: 20px; opacity: 1;}
  to {top: -30px; opacity: 0;}
}
